<a href="https://colab.research.google.com/github/MAN1YAK/CCDATRCL_ASSIGNMENT_COM222/blob/main/Excercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

#### 1. Create a Singly Linked list

- Each node should contain your name and your seatmates in your row
- Create at least 5 nodes
- Traverse all nodes

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):
        while node:
            print(node.data, end=" -> ")
            node = node.next

list = LinkedList()

list.head = Node("Dianna")
e2 = Node("Joyce")
e3 = Node("Muñoz")
e4 = Node("Christian")
e5 = Node("Uriel")

list.head.next = e2
e2.next = e3
e3.next = e4
e4.next = e5
e5.next = None

list.traverse(list.head)

Dianna -> Joyce -> Muñoz -> Christian -> Uriel ->

#### 2. Create a Doubly Linked list

- Each node should contain your name and your seatmates in your row
- Create at least 5 nodes
- Traverse all nodes

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        self.prev = None

class DoublyLinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):
        while node:
            print(node.data, end=" -> ")
            node = node.next

list2 = DoublyLinkedList()

list2.head = Node("Dianna")
e2 = Node("Joyce")
e3 = Node("Muñoz")
e4 = Node("Christian")
e5 = Node("Uriel")

list2.head.next = e2
list2.head.prev = None

e2.next = e3
e2.prev = list2.head

e3.next = e4
e3.prev = e2

e4.next = e5
e4.prev = e3

e5.next = None
e5.prev = e4

list2.traverse(list2.head)

Dianna -> Joyce -> Muñoz -> Christian -> Uriel ->

#### 3. Create a Circular Linked list

- Each node should contain your name and your seatmates in your row
- Create at least 5 nodes
- Traverse all nodes

In [2]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class CircularLinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):

        head = node

        while node:
            print(node.data, end=" -> ")
            node = node.next
            # Break to prevent infinite loop
            if node == head:
              break

list3 = CircularLinkedList()

list3.head = Node("Dianna")
e2 = Node("Joyce")
e3 = Node("Muñoz")
e4 = Node("Christianity")
e5 = Node("Uriel")

list3.head.next = e2
e2.next = e3
e3.next = e4
e4.next = e5
e5.next = list3.head


list3.traverse(list3.head)

Dianna -> Joyce -> Muñoz -> Christianity -> Uriel ->